<div id="<%= dom_id group %>" class="group">
  <div class="icon">
    <img src="https://picsum.photos/90" alt="randy">
  </div>
  <div class="info">
    <%= group.name %>
  </div>
  <div class="total">
    <%= "$154.24" %>
  </div>
</div>
