<nav>
  <div class="icon"><%=link_to icon(icon_type, icon_name), groups_path%> </div>
  <div class="title"><%=title%></div>
  <div class="icon"><%=link_to icon('fa-solid', 'arrow-right-from-bracket'), destroy_user_session_path %></div>
</nav>
