<nav>
  <div class="icon"><%=link_to icon('fa-solid', 'angle-left'), groups_path, id: 'home'%> </div>
  <div class="title"><%=title%></div>
  <div class="icon"><%=button_to icon('fa-solid', 'arrow-right-from-bracket'), destroy_user_session_path, method: :delete %></div>
</nav>
