<div class="splash">
  <div class="logo"><%=image_tag("logo.png")%></div>
  <div class="actions">
    <p class='btn'><%= link_to "LOG IN", new_user_session_path %></p>
    <p class='btn--secondary'><%= link_to "SIGN UP", new_user_registration_path %></p>
  </div>
</div>
