<div id="<%= dom_id payment %>" class="payment">
  <div class="icon">
    <img src="https://picsum.photos/60" alt="randy">
  </div>
  <div class="info">
    <%= payment.name %>
  </div>
  <div class="total">
    <%= payment.amount %>
  </div>
</div>
