$primary-color: #3778c2;
$secondary-color: #5fb523;
$text-color: #434b54;

.new_user, .new_group, .new_payment, .field {
  label: {
    position: absolute;
    left: -10000px;
    top: auto;
    width: 1px;
    height: 1px;
    overflow: hidden;
  }
  input {
    border: 0.5px solid #ccc;
    background: #fff;
    padding: 8px;
    width: 100%;
    &:focus {
      outline: none;
    }
    &::placeholder {
      font-size: 1rem;
      font-weight: 300;
      color: #ccc;
    }
  }
  .selections {
   width: 100%;
   display: flex;
   padding: 2rem 30vw;
   flex-direction: column;
   align-items: center;
   gap: 0.5rem;
    .selection {
      width: 100%;
      color: $text-color;
      display: flex;
      justify-content: space-between;
      input {
        width: 1rem;
      }
    }
  }
  
}
